section.projects {
    padding: 2rem 0;
}

.carousel-wrapper {
    position: relative;
}

.nav-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    --hidden-padding: 1rem;
    padding: 0 var(--hidden-padding);
    top: calc(var(--project-image-height) + 1rem);
}

.nav-button {
    padding: 0;
    border: 0;
    background: var(--bleu-de-france);
    width: 3rem;
    height: 3rem;
    color: white;
    z-index: 2;
}

.nav-button::before {
    position: absolute;
    content: '';
    top: 0;
    width: var(--hidden-padding);
    height: 3rem;
    background: var(--bone-white);
}

.nav-button:first-of-type::before {
    left: 0rem;
}

.nav-button:last-of-type::before {
    right: 0rem;
}

.nav-button > svg {
    width: 50%;
    height: 50%;
    transition: all 0.2s ease;
}

.nav-button:hover {
    background: var(--bleu-de-france-darker-shade);
}

.nav-button:hover > svg {
    transition: all 0.3s ease;
    transform: translateX(8%);
}

.nav-button.prev:hover > svg {
    transform: translateX(-8%);
}

@media screen and (max-width: 400px) {
    .nav-buttons {
        padding: 0;
    }

    .nav-button::before {
        display: none;
    }
}
