.mobile-menu {
    display: none;
    color: #000;
    height: 100%;
}

.mobile-menu *:focus {
    outline: none;
}

.button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.button > button {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding: 1rem 0.38rem;
    transition-duration: 0.3s;
}

.button > button:hover {
    opacity: 1 !important;
}

.button > button span span,
.button > button span span::before,
.button > button span span::after {
    background-color: var(--jet) !important;
    transition-duration: 0.3s;
}

.items {
    position: fixed;
    top: 0;
    left: 0;
    height: 120%;
    width: 100%;
    z-index: -1;
    background: var(--bone-white);
}

.items ul {
    list-style: none;
    margin: 20vh 0 0 0;
}

.items li {
    margin: 0;
}

.menu-item {
    font-size: 1.2rem;
    text-shadow: 1px 1px var(--light-blue);
}

.menu-item a {
    color: #000 !important;
    padding: 1rem 0;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .mobile-menu {
        display: block;
        position: absolute;
        right: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .mobile-menu {
        right: 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    .mobile-menu {
        right: 0;
    }
}
