* {
  box-sizing: border-box;
}

html {
  font-family: 'Poiret One', sans-serif;
  font-size: 22px;
  color: yellow;
  background: url(images/Tiomila2015.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section p {
  font-family: 'Raleway', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  background: -webkit-linear-gradient(#404040, #151515);
  background: -moz-linear-gradient(#404040, #151515);
  background: -o-linear-gradient(#404040, #151515);
  background: linear-gradient(#404040, #151515);
  background-color: #404040;
}

nav {
  width: 100%;
  margin: 0 auto;
}

nav ul {
  display: inline;
  height: 3rem;
}

nav .left {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-90%);
}

nav img {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 60px;
}

nav .right {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-84%);
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav a {
  padding: 0.4rem;
  line-height: 3rem;
}

nav a:link,
nav a:visited {
  color: #9d9d9d;
  font-weight: lighter;
}

nav a:hover,
nav a:active {
  transition: color 0.5s ease;
  color: #e3e3e3;
}

a:visited,
a:link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover,
a:active {
  transition: text-decoration 0.5s ease;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

section {
  margin: 2rem auto;
  width: 72%;
  padding: 1rem;
}

.content {
  margin-top: 3rem;
  background-color: rgba(10, 10, 0, 0.8);
  border-radius: 0.3rem;
  padding: 0.6rem 2rem;
}

.content h2 {
  margin: 0;
  line-height: 3rem;
  text-align: center;
  font-size: 2rem;
}

.content p {
  font-size: 0.9rem;
}

.project-item img {
  height: 15rem;
}

h1,
h2,
h3,
#top p {
  text-shadow: 1px 1px #000;
}

#home {
  font-size: 1.5rem;
  padding: 0.3rem;
}

#top {
  height: 100vh;
}

#top .content {
  background: transparent;
  padding-top: 3.5rem;
  font-size: 2.5rem;
  line-height: 1.2rem;
}

#top p {
  margin: 1.5rem 0;
  font-size: 2rem;
  font-family: 'Poiret One', sans-serif;
}

#top h1 {
  font-size: 4rem;
  font-weight: lighter;
}

#photo-credit {
	background-color: rgba(10, 10, 0, 0.6);
	font-size: 1rem;
	padding: 0.2rem 0.4rem;
	border-radius: 0.3rem;
	color: white;
}

#about .content img {
  float: left;
  height: 15rem;
  margin: 1.2rem;
}

#about .content p {
  margin-top: 1.5rem;
  line-height: 1.5;
}

#skills {

}

#contact h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#contact .social-links {
  margin: 1rem auto;
  width: 500px;
  text-align: center;
}

#contact .social-links a img {
  width: 175px;
  margin: 25px;
}

#contact .social-links a img:hover {
  transition: transform 0.15s ease;
  transform: scale(1.1);
}
