* {
  box-sizing: border-box;
}

html {
  font-family: 'Poiret One', sans-serif;
  font-size: 20px;
  color: yellow;
  background: url(images/Tiomila2015.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section p {
  font-family: 'Raleway', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 3rem;
  background: -webkit-linear-gradient(#404040, #151515);
  background: -moz-linear-gradient(#404040, #151515);
  background: -o-linear-gradient(#404040, #151515);
  background: linear-gradient(#404040, #151515);
  background-color: #404040;
}

nav {
  width: 100%;
}

nav ul {
  display: inline;
  height: 3rem;
}

nav .left {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-90%);
}

nav img {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
}

nav .right {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-84%);
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav a {
  padding: 0.4rem;
  line-height: 3rem;
  transition: color 1s ease;
  color: #9d9d9d;
}

nav a:link,
nav a:visited {
  color: #9d9d9d;
  font-weight: lighter;
}

nav a:hover,
nav a:active {
  transition: color 0.5s ease;
  color: #e3e3e3;
}

a:visited,
a:link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover,
a:active {
  transition: text-decoration 0.5s ease;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

section {
  position: relative;
  margin: 2rem auto;
  width: 72%;
  max-width: 1300px;
  padding: 1rem;
}

.content {
  margin-top: 2.5rem;
  background-color: rgba(10, 10, 0, 0.8);
  border-radius: 0.3rem;
  padding: 0.6rem 2rem;
}

.content h2 {
  margin: 0;
  line-height: 3rem;
  text-align: center;
  font-size: 2rem;
}

.content h3,
.content h4 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.content p {
  font-size: 0.9rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
#top p {
  text-shadow: 1px 1px #000;
}

#home {
  font-size: 1.5rem;
  padding: 0.3rem;
}

#top {
  height: 100vh;
}

#top .content {
  background: transparent;
  padding-top: 3.5rem;
  font-size: 2.5rem;
  line-height: 1.2rem;
}

#top p {
  margin: 1.5rem 0;
  font-size: 2rem;
  font-family: 'Poiret One', sans-serif;
}

#top h1 {
  font-size: 4rem;
  font-weight: lighter;
}

#photo-credit {
	background-color: rgba(10, 10, 0, 0.6);
	font-size: 1rem;
	padding: 0.2rem 0.4rem;
	border-radius: 0.3rem;
	color: white;
}

#about .content img {
  float: left;
  height: 15rem;
  margin: 1.2rem;
}

#about .content p {
  margin-top: 1.5rem;
  line-height: 1.5;
}

/* ---------------------- SHOWCASE for Projects-section --------------------- */

.showcase {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

/* --------------------------- PROJECT ITEMS -------------------------------- */

.project {
  display: none;
}

.display {
  height: 50vh;
  max-height: 650px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.spotlight {
  display: block !important;
}

.project-info {
  position: relative;
}

.project img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.project h3 {
  font-size: 1.5rem;
  margin: 20px auto;
}

.project h4 {
  margin: 20px auto;
  line-height: 1.5rem;
}

.project-description {
  float: left;
  width: 60%;
}

.project-tech {
  float: left;
  width: 40%;
}

.tech-list {
  display: table;
  margin: 1em auto;
}

/* ------------------------------ NAV ARROWS -------------------------------- */

.arrow {
  position: absolute;
  top: 0;
  background: url(images/showcase-arrow-light.png) 60% 50% / 20px no-repeat;
  height: 100%;
  width: 10%;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: rgba(0, 10, 0, 0);
}

.arrow:hover {
  transition: transform 0.2s ease-in-out,
              background-color 0.6s;
  background-color: rgba(0, 10, 0, 0.6);
  transform: scale(1.5);
}

.arrow-next:hover {
  transform: scale(1.5) rotate(180deg);
}

.arrow-prev {
  left: 0;
}

.arrow-next {
  right: 0;
  transform: rotate(180deg);
}

/* ------------------------------- END SHOWCASE ------------------------------*/

/* ---------------------------------- SKILLS -------------------------------- */

#skills {
  text-align: center;
}

.skills-wrapper {
  margin: 0 auto;
  width: 70%;

}

.col {
  display: inline-block;
  width: 49%;
  margin: 0 auto 20px auto;
}

.skill {
  margin: 0 auto;
  width: 90%;
}

.skill h4 {
  text-align: left;
  margin: 15px 0;
}

.bar {
  background-color: #9d9d9d;
  border-radius: 2px;
}

.bar div {
  background-color: rgb(225, 64, 41);
  border-radius: 2px;
  height: 5px;
}

/* ----------------------------- END SKILLS-SECTION ------------------------- */

/* ------------------------------ CONTACT-SECTION --------------------------- */

#contact .social-links {
  margin: 1rem auto;
  text-align: center;
}

#contact .social-links a img {
  width: 100px;
  margin: 25px;
  transition: transform 0.5s ease;
  transform: scale(1);
}

#contact .social-links a img:hover {
  transition: transform 0.15s ease;
  transform: scale(1.2);
}

/* ---------------------------- END CONTACT-SECTION ------------------------- */
