.chevron {
    position: relative;
    text-align: center;
    padding: 0.16em;
    margin-bottom: 0.1em;
    width: 2.4em;
}

.chevron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0.25em;
    width: 51%;
    background: #fff;
    transform: skew(0deg, 36deg);
}

.chevron::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 0.25em;
    width: 50%;
    background: #fff;
    transform: skew(0deg, -36deg);
}

.animation {
    animation-duration: 0.5s;
    animation-name: grow-shrink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes grow-shrink {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
