.triangles-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.triangle {
    z-index: 2;
    content: '';
    height: 0;
    width: 0;
}
