.skills-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.skill {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-size: 1.2em;
    text-shadow: 1px 1px var(--light-blue);
}

.bar {
    width: 100%;
    height: 5px;
    background: var(--light-blue);
    border-radius: 2px;
}

.level {
    background: var(--accent-color);
    height: 100%;
    border-radius: 2px;
}
