html {
    box-sizing: border-box;
    font-size: 16px;
    color: #ff0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.layout {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.content {
    display: grid;
    grid-template-areas:
        'about'
        'projects'
        'skills'
        'contact';
    grid-gap: 2rem;
}

.content > section {
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 2rem;
    margin: 0 2rem;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.footer {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}
