html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.layout {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.content {
    display: grid;
    grid-template-areas:
        'about'
        'projects'
        'skills'
        'contact';
    grid-gap: 6rem;
    justify-items: center;
    margin-top: var(--header-height);
}

.content > section {
    position: relative;
    background: rgba(255, 255, 255, 0.97);
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    width: 90vw;
    max-width: var(--max-content-width);
}

.content > section h2 {
    text-align: center;
}

/* Ensure anchor targets won't be hidden by the fixed header, by using the offset */
.content > section h2::before {
    display: block;
    content: ' ';
    margin-top: calc(-1 * var(--header-offset));
    height: var(--header-offset);
    visibility: hidden;
}

.footer {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    color: #fff;
}

.content a {
    color: var(--bleu-de-france);
    padding: 5px;
    transition: all 0.3s ease;
}

.content a:hover {
    color: #fff;
    background: var(--bleu-de-france-darker-shade);
    text-decoration: none;
    transition: all 0.3s ease;
}

@media screen and (max-width: 600px) {
    .content > section {
        width: 100vw;
    }
}

/* Improve site accesibility */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    *,
    ::before,
    ::after {
        transition: none !important;
    }
}
