:root {
    /* Colors */
    --orange: #f49e4c;
    --marine-blue: #0f5a81;
    --light-blue: #d3e9ed;
    --accent-color: var(--orange);

    /* Variables */
    --header-height: 60px;
    --header-offset: calc(1.7 * var(--header-height));
    --content-offset: calc(1.34 * var(--header-height));
}
