:root {
    /* Colors */
    --orange: #f49e4c;
    --marine-blue: #0f5a81;
    --light-blue: #d3e9ed;
    --jet: #353535;
    --bleu-de-france: #3c91e6;
    --bleu-de-france-darker-shade: #3784d2;
    --accent-color: var(--orange);

    /* Variables */
    --header-height: 60px;
    --header-offset: 100px;
    --content-offset: 80px;
    --expanded-header-height: 120px;
    --max-content-width: 1100px;
}
