.topics {
    --icon-size: 30px;
    --topic-columns: 2;
    display: grid;
    grid-template-columns: repeat(
        var(--topic-columns),
        minmax(min-content, 1fr)
    );
    column-gap: 2rem;
    gap: 2rem;
}

.topic {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    align-content: start;
}

.icon {
    color: var(--bleu-de-france);
    display: grid;
    justify-content: center;
    align-items: center;
}

.icon svg {
    width: var(--icon-size);
    height: var(--icon-size);
}

@media screen and (max-width: 500px) {
    .topics {
        --topic-columns: 1;
    }
}
