.topics {
    --topic-min-width: 350px;
    --icon-size: 30px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(var(--topic-min-width), 1fr)
    );
    margin-left: -2rem;
}

.topic {
    display: grid;
    grid-template-columns: minmax(min-content, 8rem) minmax(min-content, 2fr);
}

.icon {
    color: var(--bleu-de-france);
    display: grid;
    justify-content: center;
    align-items: center;
}

.icon svg {
    width: var(--icon-size);
    height: var(--icon-size);
}

@media screen and (min-width: 1200px) {
    .topics {
        --topic-min-width: 450px;
    }
}

@media screen and (min-width: 814px) {
    .topics {
        --icon-size: 40px;
    }
}
