.header {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 4rem;
    display: grid;
    grid-template-columns: max-content auto minmax(auto, 400px);
    align-items: center;
    padding: 0 2rem;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.header img {
    margin-bottom: 0;
}

.logo:hover::before,
.logo:hover::after {
    display: none !important;
}

.site-title {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.site-title a {
    padding: 0 1rem;
}

.header a {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.3em;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.header a:hover::before,
.header a:active::before,
.header a:hover::after,
.header a:active::after {
    display: flex;
    justify-content: center;
    content: '';
    position: absolute;
    height: 2px;
    background: var(--accent-color);
    width: 90%;
    z-index: -10;
}

.header a:hover::before,
.header a:active::before {
    top: 0.1em;
    box-shadow: 0 0.5em 1em var(--accent-color);
}

.header a:hover::after,
.header a:active::after {
    bottom: 0.1em;
    box-shadow: 0 -0.5em 1em var(--accent-color);
}

.main-menu {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
