section.intro {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: 0 auto;
    padding: var(--header-height) 0 0 0;
    display: grid;
    justify-items: center;
    background: transparent;
    box-shadow: none;
    color: #000;
    font-size: 1.4em;
    font-family: 'Roboto', 'sans-serif';
}

.logo-container {
    margin-top: 8rem;
    margin-left: 2rem;
    justify-self: start;
}

a.center-bottom {
    align-self: end;
    padding: 2rem;
}

a.center-bottom:hover {
    transition: none;
    background: none;
}

@media screen and (max-width: 600px) {
    .logo-container {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 500px) {
    .logo-container {
        transform: scale(0.8);
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .logo-container {
        transform: scale(0.7);
    }
}
