.samuel-logo {
    display: inline-block;
    position: relative;
    background: transparent;
    z-index: 2;
}

.samuel-logo p {
    position: relative;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    z-index: 3;
}

.logo {
    position: relative;
    z-index: 3;
    width: 20em;
    height: 1.32em;
    margin: 0.3em 0 0 0;
}

.logo-bg {
    position: absolute;
    top: -0.5em;
    left: -1em;
    height: 130%;
    width: 110%;
    z-index: 1;
    background: var(--orange);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);

    /*  This rotate3d is cooler than the rotate + skew transform,
    but the latter has better browser support. */
    /* transform: rotate3d(4, 1, 1, 14deg); */
    transform: rotate(0.5deg) skew(-3deg, 3deg);
}
