@tailwind base;

@layer base {
    :root {
        --pacificBlue: #46B4C7;
        --ming: #256D7A;
        --cedarChest: #C76350;
        --mantis: #5AC75F;
        --fernGreen: #3D7A40;
        --white: #fff;
        --honeydew: #D6EAD7;
        --black: #000;
    }
}

@tailwind components;

@layer components {
    .link,
    .prose .link {
        position: relative;
        text-decoration: none;
        line-height: 1;
        z-index: 0;
        color: var(--black);
        display: inline-block;
        overflow: hidden;
        padding: .5rem;
    }

    .link::before,
    .prose .link::before {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: ' ';
        display: inline-block;
        transform: translateY(calc(100% - 2px));
        background: var(--mantis);
        transition: transform 0.15s ease-out;
    }

    .link:hover::before,
    .prose .link:hover::before {
        transform: translateY(0);
        transition: transform 0.15s ease-out;
    }
}

@tailwind utilities;

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        transition-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        animation-delay: 0.01ms !important;
    }
}
